body {
  background-color:   #0084ff ;
}
.jumbotron {
	text-align: center;
	margin: auto;
}

h1, header {
 font-family: 'Audiowide', cursive;
 text-align: center;
 margin: 1em;
 color: #0084ff;
 background-color: white; 


}

h4, h5 {
    text-align: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.row {
  text-align: center;
}

p, input {
  color: ;
  font-family: 'Ubuntu', sans-serif;
  margin: 0em 0em 0.5em 1em;
  font-size: 20px;
}

p {
  font-weight: bold;
}